This notebook demonstrates contingency table analysis. It's based on https://www.statsmodels.org/stable/contingency_tables.html and https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

In [136]:
# Experiment
users = np.array(['001','001','001','001','001','002'])
apps = np.array(['app01','app01','app10','app05','app03','app06'])
exp = pd.DataFrame(np.vstack([users,apps]).T,columns=['users','apps'])
exp

  users   apps
0   001  app01
1   001  app01
2   001  app10
3   001  app05
4   001  app03
5   002  app06

In [142]:
# Simple frequency count, similar to R table()

# np.bincount() sort the list values and get bin frequency
pd.crosstab(exp['users'],exp['apps'])

apps   app01  app03  app05  app06  app10
users
001        2      1      1      0      1
002        0      0      0      1      0

## Flatten column lists into multiple columns
Refer to https://stackoverflow.com/questions/44820907/dataframe-pandas-flatten-column-of-lists-to-multiple-columns

### Experiment

In [118]:
from collections import Counter
def agg_behaviors(data):
    return Counter(data.apps.values)

exp_grp = exp.groupby('users').apply(agg_behaviors).reset_index()
exp_grp.columns=['users','usercnt']
exp_grp

  users                                           usercnt
0   001  {'app01': 2, 'app10': 1, 'app05': 1, 'app03': 1}
1   002                                      {'app06': 1}

In [97]:
exp_list = exp.groupby('users').apply(lambda data:data.apps.values).reset_index()
exp_list.columns=['users','app']
print (exp_list)

cols = ['app']
flatten_df = pd.concat([pd.DataFrame(exp_list[x].values.tolist()).add_prefix(x) for x in cols],axis=1)
pd.concat([exp_list.drop(cols,axis=1),flatten_df],axis=1)

  users                                  app
0   001  [app01, app01, app10, app05, app03]
1   002                              [app06]

  users   app0   app1   app2   app3   app4
0   001  app01  app01  app10  app05  app03
1   002  app06   None   None   None   None

The above method does flatten out list(lists) of columns, but is not what we want. Try the following:

In [109]:
exp_list = exp.groupby('users').apply(lambda data:data.apps.values).reset_index()
exp_list.columns=['users','app']

# Construct columns of all possible values first
# use np.sort() for np.ndarray, use df.sort_values(by='column',axis=1,ascending=True)
add_colnames = np.sort(exp.apps.unique())

# Generate columns based on name
for c in add_colnames:
    exp_list[c] = np.array([list(exp_list.iloc[j,1]).count(c) for j in range(exp_list.shape[0])])

exp_list

,users,app,app01,app03,app05,app06,app10
0,001,"[app01, app01, app10, app05, app03]",2,1,1,0,1
1,002,[app06],0,0,0,1,0

### Solution

In [127]:
exp_user_cnt = exp.groupby('users').apply(agg_behaviors).reset_index()
exp_user_cnt.columns = ['users','usercnt']
app_values = np.sort(exp.apps.unique())

for c in app_values:
    exp_user_cnt[c] = np.array([exp_user_cnt.iloc[j,1][c] for j in range(exp_user_cnt.shape[0])])
exp_user_cnt = exp_user_cnt.drop(['usercnt'],axis=1);exp_user_cnt

  users  app01  app03  app05  app06  app10
0   001      2      1      1      0      1
1   002      0      0      0      1      0

In [128]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# get R dataset from package
df = sm.datasets.get_rdataset("Arthritis","vcd").data
df.head()

   ID Treatment   Sex  Age Improved
0  57   Treated  Male   27     Some
1  46   Treated  Male   29     None
2  77   Treated  Male   30     None
3  17   Treated  Male   32   Marked
4  36   Treated  Male   46   Marked

# Pivot table

In [131]:
df.groupby(['Treatment','Sex','Improved']).mean()['Age']
# df.groupby(['Treatment','Sex','Improved']).mean().reset_index()

Treatment  Sex     Improved
Placebo    Female  Marked      56.666667
                   None        47.894737
                   Some        57.428571
           Male    Marked      63.000000
                   None        52.900000
Treated    Female  Marked      58.000000
                   None        45.166667
                   Some        61.200000
           Male    Marked      53.000000
                   None        53.857143
                   Some        45.500000
Name: Age, dtype: float64

## Multi-indexing of pivot table

In [132]:
df_pivot_age = df.pivot_table(values=['Age'],index=['Treatment','Sex','Improved'],aggfunc=[np.mean,np.sum])
# df_pivot_age['Age%']= df_pivot_age['sum']['Age']/df_pivot_age['sum']['Age'].cumsum()
# df_pivot_age.loc['Placebo'].loc['Male']

In [45]:
# for i,row in df_pivot_age.loc[~df_pivot_age['Age%'].isnull(),:].iterrows():
#     print (i,row)

# Contingency table construction
There are mainly two ways to form a contingency table.

## Method1: generate cross table first

In [48]:
tab = pd.crosstab(df['Treatment'],df['Improved'])
tab = tab.loc[:,["None","Some","Marked"]]

def percConvert(ser):
    return ser/float(ser[-1])

tab_convert = tab.apply(percConvert)
print (tab)
print (tab_convert)

table = sm.stats.Table(tab)
print (table)

Improved   None  Some  Marked
Treatment
Placebo      29     7       7
Treated      13     7      21
Improved       None  Some    Marked
Treatment
Placebo    2.230769   1.0  0.333333
Treated    1.000000   1.0  1.000000
A 2x3 contingency table with counts:
[[29.  7.  7.]
 [13.  7. 21.]]

## Method2: directly build from dataframe

In [3]:
table = sm.stats.Table.from_data(df[['Treatment','Improved']])

# Independence Test

In [4]:
print (table.table_orig) # equivalent to tab

Improved   Marked  None  Some
Treatment
Placebo         7    29     7
Treated        21    13     7

In [23]:
print (table.fittedvalues) # expected count

Improved      Marked  None      Some
Treatment
Placebo    14.333333  21.5  7.166667
Treated    13.666667  20.5  6.833333

In [24]:
print (table.resid_pearson)

Improved     Marked      None      Some
Treatment
Placebo   -1.936992  1.617492 -0.062257
Treated    1.983673 -1.656473  0.063758

In [28]:
rslt = table.test_nominal_association()
print (rslt.pvalue)
print (table.chi2_contribs) # chi2 values

0.0014626434089526352
Improved     Marked      None      Some
Treatment
Placebo    3.751938  2.616279  0.003876
Treated    3.934959  2.743902  0.004065

In [29]:
rslt = table.test_ordinal_association()
print (rslt.pvalue)

0.023644578093923983